extends layout 

block content

    h1 Enter Admin Password:
    h2 #{info}
    form(action='' method='POST')
        div.form-group  
            input#admin_password.form-control(type='text', name='admin_password')
            button.btn.btn-primary(type='submit') Submit 
    if errors 
        ul 
            for error in errors 
                li!= error.msg