extends layout 

block content 
    h1 Create Post

    form(action='' method='POST')
        div.form-group 
            label(for='title') Post Title: 
            input#title.form-control(type='text', placeholder='My First Post' maxlength=100 name='title' )
        div.form-group
            label(for='post_body') Message: 
            textarea#post_body.form-control(type='text', placeholder='Your message text here' name='post_body')
        button.btn.btn-primary(type='submit') Submit
        a(href="/")
                p Cancel
    if errors 
        ul 
            for error in errors 
                li!= error.msg