extends layout 

block content

    h1 Enter Member Password:

    form(action='' method='POST')
        div.form-group  
            input#member_password.form-control(type='text', name='member_password')
            button.btn.btn-primary(type='submit') Submit 
    if errors 
        ul 
            for error in errors 
                li!= error.msg