extends layout 

block content

    h1 Enter Member Password:
    h2 #{info}
    form(action='' method='POST')
        div.form-group  
            input#member_password.form-control(type='password', name='member_password')
            button.btn.btn-primary(type='submit') Submit 
            a(href="/")
                p Cancel
    if errors 
        ul 
            for error in errors 
                li!= error.msg