body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*input[name="username"] {
  text-transform: lowercase;
}*/

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

textarea[name="post_body"] {
  height: 100px;
  width: 500px;
}

body {
  background-color: grey;
  color: wheat
}

a {
  color: greenyellow
}

input, textarea {
  background: whitesmoke
}

button {
  background: skyblue;
  border-style: none;
}

table {
  border-collapse: collapse;
}

tr {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
}